USE [master]
GO
/****** Object:  Database [todb]    Script Date: 14.04.2026 15:45:21 ******/
CREATE DATABASE [todb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'todb', FILENAME = N'D:\MyProgram\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\Data\todb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'todb_log', FILENAME = N'D:\MyProgram\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\Data\todb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [todb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [todb]
GO
/****** Object:  Table [dbo].[Units]    Script Date: 14.04.2026 15:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Units](
	[UnitId] [int] IDENTITY(1,1) NOT NULL,
	[UnitName] [nvarchar](100) NOT NULL,
	[UnitShortName] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 14.04.2026 15:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[ParentCategoryId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 14.04.2026 15:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[SKU] [nvarchar](50) NOT NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[UnitId] [int] NOT NULL,
	[MinStockLevel] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReceiptItems]    Script Date: 14.04.2026 15:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReceiptItems](
	[ReceiptItemId] [int] IDENTITY(1,1) NOT NULL,
	[ReceiptId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReceiptItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SaleItems]    Script Date: 14.04.2026 15:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleItems](
	[SaleItemId] [int] IDENTITY(1,1) NOT NULL,
	[SaleId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SaleItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[StockBalance]    Script Date: 14.04.2026 15:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- 6. ПРЕДСТАВЛЕНИЕ ОСТАТКОВ
-- =============================================

CREATE VIEW [dbo].[StockBalance] AS
SELECT
    p.ProductId,
    p.SKU,
    p.ProductName,
    c.CategoryName,
    u.UnitShortName,
    p.MinStockLevel,
    ISNULL(r.InQty, 0) - ISNULL(s.OutQty, 0) AS CurrentStock
FROM Products p
INNER JOIN Categories c ON p.CategoryId = c.CategoryId
INNER JOIN Units u ON p.UnitId = u.UnitId
LEFT JOIN (
    SELECT ProductId, SUM(Quantity) AS InQty
    FROM ReceiptItems
    GROUP BY ProductId
) r ON p.ProductId = r.ProductId
LEFT JOIN (
    SELECT ProductId, SUM(Quantity) AS OutQty
    FROM SaleItems
    GROUP BY ProductId
) s ON p.ProductId = s.ProductId;
GO
/****** Object:  Table [dbo].[Receipts]    Script Date: 14.04.2026 15:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receipts](
	[ReceiptId] [int] IDENTITY(1,1) NOT NULL,
	[SupplierId] [int] NOT NULL,
	[ReceiptDate] [datetime] NOT NULL,
	[TotalAmount] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReceiptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 14.04.2026 15:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[SaleId] [int] IDENTITY(1,1) NOT NULL,
	[SaleDate] [datetime] NOT NULL,
	[TotalAmount] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SaleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 14.04.2026 15:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierId] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](200) NOT NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [ParentCategoryId]) VALUES (1, N'Бытовая химия', NULL)
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [ParentCategoryId]) VALUES (2, N'Посуда', NULL)
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [ParentCategoryId]) VALUES (3, N'Инструменты', NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [SKU], [ProductName], [CategoryId], [UnitId], [MinStockLevel], [Description], [IsActive]) VALUES (1, N'SKU001', N'Молоток', 3, 1, 3, N'Стальной молоток', 1)
INSERT [dbo].[Products] ([ProductId], [SKU], [ProductName], [CategoryId], [UnitId], [MinStockLevel], [Description], [IsActive]) VALUES (2, N'SKU002', N'Лампа LED 12W', 4, 1, 5, N'Светодиодная лампа', 1)
INSERT [dbo].[Products] ([ProductId], [SKU], [ProductName], [CategoryId], [UnitId], [MinStockLevel], [Description], [IsActive]) VALUES (3, N'SKU003', N'Средство для мытья посуды', 1, 3, 10, N'500 мл', 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ReceiptItems] ON 

INSERT [dbo].[ReceiptItems] ([ReceiptItemId], [ReceiptId], [ProductId], [Quantity], [Price]) VALUES (1, 1, 1, 12, CAST(450.00 AS Decimal(12, 2)))
INSERT [dbo].[ReceiptItems] ([ReceiptItemId], [ReceiptId], [ProductId], [Quantity], [Price]) VALUES (2, 1, 2, 25, CAST(180.00 AS Decimal(12, 2)))
INSERT [dbo].[ReceiptItems] ([ReceiptItemId], [ReceiptId], [ProductId], [Quantity], [Price]) VALUES (3, 2, 3, 30, CAST(120.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[ReceiptItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Receipts] ON 

INSERT [dbo].[Receipts] ([ReceiptId], [SupplierId], [ReceiptDate], [TotalAmount]) VALUES (1, 1, CAST(N'2026-04-13T12:18:05.143' AS DateTime), CAST(10000.00 AS Decimal(12, 2)))
INSERT [dbo].[Receipts] ([ReceiptId], [SupplierId], [ReceiptDate], [TotalAmount]) VALUES (2, 2, CAST(N'2026-04-13T12:18:05.143' AS DateTime), CAST(5000.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[Receipts] OFF
GO
SET IDENTITY_INSERT [dbo].[SaleItems] ON 

INSERT [dbo].[SaleItems] ([SaleItemId], [SaleId], [ProductId], [Quantity], [Price]) VALUES (1, 1, 1, 2, CAST(500.00 AS Decimal(12, 2)))
INSERT [dbo].[SaleItems] ([SaleItemId], [SaleId], [ProductId], [Quantity], [Price]) VALUES (2, 1, 2, 1, CAST(200.00 AS Decimal(12, 2)))
INSERT [dbo].[SaleItems] ([SaleItemId], [SaleId], [ProductId], [Quantity], [Price]) VALUES (3, 2, 3, 3, CAST(130.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[SaleItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Sales] ON 

INSERT [dbo].[Sales] ([SaleId], [SaleDate], [TotalAmount]) VALUES (1, CAST(N'2026-04-13T12:18:05.157' AS DateTime), CAST(1500.00 AS Decimal(12, 2)))
INSERT [dbo].[Sales] ([SaleId], [SaleDate], [TotalAmount]) VALUES (2, CAST(N'2026-04-13T12:18:05.157' AS DateTime), CAST(900.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[Sales] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([SupplierId], [SupplierName], [Phone], [Email], [Address]) VALUES (1, N'ООО ДомСнаб', N'+7-900-111-22-33', N'domsnab@mail.ru', N'г. Арзамас, ул. Центральная, 10')
INSERT [dbo].[Suppliers] ([SupplierId], [SupplierName], [Phone], [Email], [Address]) VALUES (2, N'ИП Петров', N'+7-900-444-55-66', N'petrov@mail.ru', N'г. Арзамас, ул. Лесная, 7')
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[Units] ON 

INSERT [dbo].[Units] ([UnitId], [UnitName], [UnitShortName]) VALUES (1, N'Штука', N'шт')
INSERT [dbo].[Units] ([UnitId], [UnitName], [UnitShortName]) VALUES (2, N'Упаковка', N'уп')
INSERT [dbo].[Units] ([UnitId], [UnitName], [UnitShortName]) VALUES (3, N'Литр', N'л')
SET IDENTITY_INSERT [dbo].[Units] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__8517B2E0A00A9A70]    Script Date: 14.04.2026 15:45:21 ******/
ALTER TABLE [dbo].[Categories] ADD UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Products__CA1ECF0D95272560]    Script Date: 14.04.2026 15:45:21 ******/
ALTER TABLE [dbo].[Products] ADD UNIQUE NONCLUSTERED 
(
	[SKU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_ReceiptItems]    Script Date: 14.04.2026 15:45:21 ******/
ALTER TABLE [dbo].[ReceiptItems] ADD  CONSTRAINT [UQ_ReceiptItems] UNIQUE NONCLUSTERED 
(
	[ReceiptId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_SaleItems]    Script Date: 14.04.2026 15:45:21 ******/
ALTER TABLE [dbo].[SaleItems] ADD  CONSTRAINT [UQ_SaleItems] UNIQUE NONCLUSTERED 
(
	[SaleId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Supplier__9C5DF66FEE4BD84B]    Script Date: 14.04.2026 15:45:21 ******/
ALTER TABLE [dbo].[Suppliers] ADD UNIQUE NONCLUSTERED 
(
	[SupplierName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Units__3CA9E6AA67C69DD9]    Script Date: 14.04.2026 15:45:21 ******/
ALTER TABLE [dbo].[Units] ADD UNIQUE NONCLUSTERED 
(
	[UnitShortName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Units__B5EE6678E49F938C]    Script Date: 14.04.2026 15:45:21 ******/
ALTER TABLE [dbo].[Units] ADD UNIQUE NONCLUSTERED 
(
	[UnitName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_MinStockLevel]  DEFAULT ((0)) FOR [MinStockLevel]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Receipts] ADD  CONSTRAINT [DF_Receipts_ReceiptDate]  DEFAULT (getdate()) FOR [ReceiptDate]
GO
ALTER TABLE [dbo].[Receipts] ADD  CONSTRAINT [DF_Receipts_TotalAmount]  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Sales] ADD  CONSTRAINT [DF_Sales_SaleDate]  DEFAULT (getdate()) FOR [SaleDate]
GO
ALTER TABLE [dbo].[Sales] ADD  CONSTRAINT [DF_Sales_TotalAmount]  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Category]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Unit] FOREIGN KEY([UnitId])
REFERENCES [dbo].[Units] ([UnitId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Unit]
GO
ALTER TABLE [dbo].[ReceiptItems]  WITH CHECK ADD  CONSTRAINT [FK_ReceiptItems_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[ReceiptItems] CHECK CONSTRAINT [FK_ReceiptItems_Product]
GO
ALTER TABLE [dbo].[ReceiptItems]  WITH CHECK ADD  CONSTRAINT [FK_ReceiptItems_Receipt] FOREIGN KEY([ReceiptId])
REFERENCES [dbo].[Receipts] ([ReceiptId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReceiptItems] CHECK CONSTRAINT [FK_ReceiptItems_Receipt]
GO
ALTER TABLE [dbo].[Receipts]  WITH CHECK ADD  CONSTRAINT [FK_Receipts_Supplier] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([SupplierId])
GO
ALTER TABLE [dbo].[Receipts] CHECK CONSTRAINT [FK_Receipts_Supplier]
GO
ALTER TABLE [dbo].[SaleItems]  WITH CHECK ADD  CONSTRAINT [FK_SaleItems_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[SaleItems] CHECK CONSTRAINT [FK_SaleItems_Product]
GO
ALTER TABLE [dbo].[SaleItems]  WITH CHECK ADD  CONSTRAINT [FK_SaleItems_Sale] FOREIGN KEY([SaleId])
REFERENCES [dbo].[Sales] ([SaleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SaleItems] CHECK CONSTRAINT [FK_SaleItems_Sale]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD CHECK  (([MinStockLevel]>=(0)))
GO
ALTER TABLE [dbo].[ReceiptItems]  WITH CHECK ADD CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[ReceiptItems]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[SaleItems]  WITH CHECK ADD CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[SaleItems]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
USE [master]
GO
